<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8"/>

    <link rel="shortcut icon" href="{{ url_for('static', filename='build/img/favicon.ico') }}">
    <title>
        {% block page_title %}
            app
        {% endblock %}
    </title>
    <meta name="description" content="{% block meta_description %}{% endblock %}"/>
    <meta name="author" content="{% block meta_author %}{% endblock %}"/>

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/main_css.bundle.css') }}"/>

    {% block css %}{% endblock %}
</head>
<body class="antialiased border-top-wide border-primary d-flex flex-column">
<div class="page page-center">
    <div class="container-tight py-4">
        <div class="text-center mb-4">
            <h1>App</h1>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <div class="d-flex">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %} {% endwith %}
        <form class="card card-md" id="loginForm" action="{{ url_for('public.login') }}" method="POST">
            {{ form.csrf_token }}
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Login to your account</h2>
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    {{ form.username(placeholder="Enter username", class_="form-control") }}
                </div>
                <div class="mb-2">
                    <label class="form-label">
                        Password
                    </label>
                    <div class="input-group input-group-flat">
                        {{ form.password(placeholder="Password", class_="form-control") }}
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </div>
            </div>
        </form>
        <div class="text-center text-muted mt-3">
            Don't have account yet? <a href="{{ url_for('public.register') }}" tabindex="-1">Create account</a>
        </div>
    </div>
</div>
</body>
</html>